extends ../layout

block content
  .page-header.center-block
    a.button.btn.btn-primary(href='/',style='margin-right:10px') Back to Home
    a.button.btn.btn-primary(href='/view_patient_records') View Another Patient's Records
    .patient_record
      h3 Health Profile for #{patient_record[0].name}

  -function prettyDate(dateString){
    -var date = new Date(dateString);
    -var d = date.getDate();
    -var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
    -var m = monthNames[date.getMonth()];
    -var y = date.getFullYear();
    -return d+' '+m+' '+y;
  -}

  div.center-block(style='width:400px;text-align:center;margin-top:20px !important')
    h3 See Previous Records
    form.form-horizontal(id='dropdown', target='_blank',name='dropdown', action='/account/patient_profile_page', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      input(type="hidden" name="patientName" value=patient_record[0].name)
      div.center-block(style='width:400px;margin-top:20px !important')
        select.form-control(name='date',data-style='btn-primary')
          option Please Select Date
          .past_record
          - for (var i = 0, len = past_record.length; i < len; i++) {
            .past_record
                option(value=past_record[i].date) #{prettyDate(past_record[0].date)}
          - }
      .form-group(style='text-align:center;margin-top:20px')
        button.btn.btn.btn-primary(formtarget='_blank',type='submit')
          i.fa.fa-pencil
          | See Symptoms
