extends ../layout

block content
  .page-header.center-block
    a.button.btn.btn-primary(href='/') Back to Home
    h3 Profile Information

  form.form-horizontal(action='/account/profile', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='email') Email
      .col-sm-7
        input.form-control(type='email', name='email', id='email', value=user.email)
    .form-group
        label.col-sm-3.control-label(for='name') Name
        .col-sm-7
          input.form-control(type='text', name='name', id='name', value=user.name)
    if user.patient
      .form-group
        label.col-sm-3.control-label(for='phone') Phone
        .col-sm-7
          input.form-control(type='text', name='phone', id='phone', value=user.profile.phone)
      .form-group
        label.col-sm-3.control-label Gender
        .col-sm-6
          label.radio.col-sm-3
            input(type='radio', checked=user.profile.gender=='male', name='gender', value='male', data-toggle='radio')
            span Male
          label.radio.col-sm-3
            input(type='radio', checked=user.profile.gender=='female', name='gender', value='female', data-toggle='radio')
            span Female
          label.radio.col-sm-3
            input(type='radio', checked=user.profile.gender=='other', name='gender', value='other', data-toggle='radio')
            span Other
      .form-group
        label.col-sm-3.control-label(for='address') Address
        .col-sm-7
          input.form-control(type='text', name='address', id='address', value=user.profile.address)
      .form-group
        label.col-sm-3.control-label(for='city') City
        .col-sm-7
          input.form-control(type='text', name='city', id='city', value=user.profile.city)
      .form-group
        label.col-sm-3.control-label(for='state') State
        .col-sm-7
          input.form-control(type='text', name='state', id='state', value=user.profile.state)
      .form-group
        label.col-sm-3.control-label(for='zip') Zipcode
        .col-sm-7
          input.form-control(type='text', name='zip', id='zip', value=user.profile.zip)
      .form-group
        label.col-sm-3.control-label(for='dob') Date of Birth
        .col-sm-7
          input.form-control(type='text', name='dob', id='dob', value=user.profile.dob)
      .form-group
        label.col-sm-3.control-label(for='ssn') Social Security Number
        .col-sm-7
          input.form-control(type='password', name='ssn', id='ssn', value=user.profile.ssn)
      .form-group
        label.col-sm-3.control-label(for='primary') Primary Physician
        .col-sm-7
          input.form-control(type='text', name='primary', id='primary', value=user.profile.primary)
    else
      .form-group
        label.col-sm-3.control-label(for='phone') Phone
        .col-sm-7
          input.form-control(type='text', name='phone', id='phone', value=user.doctor_profile.phone)
      .form-group
        label.col-sm-3.control-label(for='hospital') Hospital
        .col-sm-7
          input.form-control(type='text', name='hospital', id='hospital', value=user.doctor_profile.hospital)
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-pencil
          | Update Profile

  .page-header
    h3 Change Password

  form.form-horizontal(action='/account/password', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='password') New Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password')
    .form-group
      label.col-sm-3.control-label(for='confirmPassword') Confirm Password
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword')
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn-primary(type='submit')
          i.fa.fa-lock
          | Change Password

  .page-header
    h3 Delete Account

  form.form-horizontal(action='/account/delete', method='POST')
    .form-group
      p.col-sm-offset-3.col-sm-4 You can delete your account, but keep in mind this action is irreversible.
      input(type='hidden', name='_csrf', value=_csrf)
      .col-sm-offset-3.col-sm-4
        button.btn.btn-danger(type='submit')
          i.fa.fa-trash
          | Delete my account