extends ../layout

block content
  .page-header.center-block
    a.button.btn.btn-primary(href='/') Back to Home
    h3 View Reported Symptoms

  if !show_symptoms
    form.form-horizontal(id='dropdown', name='dropdown', action='/account/view_symptoms', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      div.center-block(style='width:400px;margin-top:20px !important')
        select.form-control(name='patientName',data-style='btn-primary')
          option Please Select Patient Name
          - for (var i = 0, len = patient_names.length; i < len; i++) {
            .patient_names
                option(value=patient_names[i].name) #{patient_names[i].name}
          - }
      .form-group(style='text-align:center;margin-top:20px')
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-pencil
          | Look Up Symptoms

  if show_symptoms
    if patient_symptoms[0].symptoms.description.length < 1
      h2 There are no reported symptoms for #{patient_symptoms[0].name}
    else
      h2 Here are the symptoms that #{patient_symptoms[0].name} has reported:

